language: php

cache:
  apt: true
  bundler: true
  directories:
    - vendor

php:
  - 5.4
  - 5.5

before_script:
  - sudo apt-get update -qq
  - sudo apt-get install -qq libxss1
  - ulimit -n 10000
  - sh -c 'if [ $(php -r "echo PHP_MINOR_VERSION;") -le 4 ]; then echo "extension = apc.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini; fi;'
  - sh -c 'if [ $(php -r "echo PHP_MINOR_VERSION;") -ge 5 ]; then pecl install apcu; fi;'
  - echo '' > ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini
  - gem install sass
  - COMPOSER_ROOT_VERSION=dev-master composer --prefer-source --dev --no-interaction update
  - mysql -e 'create database kunstmaanbundles;'
  - chmod -R 777 app/cache/ app/logs/
  - app/console kuma:generate:bundle --namespace="MyProject\\WebsiteBundle" --no-interaction --dir=src  --env=test
  - app/console kuma:generate:default-site --namespace="MyProject\\WebsiteBundle" --prefix="myproject_" --no-interaction  --env=test
  - app/console kuma:generate:admin-tests --namespace="MyProject\\WebsiteBundle" --env=test
  - app/console kuma:generate:article --namespace="MyProject\\WebsiteBundle" --entity=News --prefix="myproject_" --dummydata --env=test
  - npm install -g bower
  - npm install -g grunt
  - bower install
  - npm install
  - grunt build
  - app/console --force --no-interaction doctrine:schema:drop --env=test
  - app/console --no-interaction doctrine:schema:create --env=test
  - app/console --no-interaction doctrine:fixtures:load --env=test
  - app/console --no-interaction assets:install web --env=test
  - app/console --no-interaction assetic:dump --env=test
  - app/console --no-interaction cache:clear --env=test
  - app/console --no-interaction cache:warmup --env=test
  - chmod -R 777 app/cache/ app/logs/
  - app/console server:run &
  - sh -e /etc/init.d/xvfb start
  - export DISPLAY=:99.0
  - wget http://selenium.googlecode.com/files/selenium-server-standalone-2.34.0.jar
  - java -jar selenium-server-standalone-2.34.0.jar > /dev/null &
  - sleep 5

script:
    - phpunit -c app
    - php -d memory_limit=2048M bin/behat @MyProjectWebsiteBundle --verbose

notifications:
  email:
    - travis@kunstmaan.be
